<div class="header-bar header-fixed header-app header-bar-detached">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-main" href="#"><i class="bi bi-list color-theme"></i></a>
<a href="#" class="header-title color-theme">Profile</a>
<!-- <a data-bs-toggle="offcanvas" data-bs-target="#menu-color" href="#"><i class="bi bi-palette-fill font-13 color-highlight"></i></a> -->
<a href="#" class="show-on-theme-light" data-toggle-theme=""><i class="bi bi-moon-fill font-13"></i></a>
<a href="#" class="show-on-theme-dark" data-toggle-theme=""><i class="bi bi-lightbulb-fill color-yellow-dark font-13"></i></a>
</div>

<app-footer-bar></app-footer-bar>

<app-menu-load></app-menu-load>

<div class="page-content header-clear-medium">
<div class="card card-style mt-5 overflow-visible">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" width="150" height="150" class="mt-n5 preload-img mx-auto rounded-circle shadow-xl">
<div class="content text-center">
<div class="px-3 mb-n3">
<h1 class="font-700">Karla Black</h1>
<!-- <p class="mb-2 opacity-60 font-13">
Karla Black is a name used when you generate a text with an anonymous name.
</p> -->
<div class="divider mb-4 mx-3 mt-1"></div>
<p class="font-18">
<a href="follow?x=followers"><strong class="color-theme pe-1">1k</strong>Followers</a>
<a href="follow?x=following"><strong class="color-theme ps-3 pe-1">342</strong>Following</a>
</p>
</div>
</div>
<div class="content">
<div class="row mb-0">
<div class="col-6">
<a href="#" class="btn btn-full btn-s rounded-s text-uppercase font-900 gradient-highlight shadow-bg shadow-bg-s">Follow</a>
</div>
<div class="col-6">
<a href="#" class="btn btn-full btn-s btn-border rounded-s text-uppercase font-900 color-highlight border-blue-dark shadow-l">Message</a>
</div>
<div class="col-6">
<a href="settings" class="btn btn-full btn-s btn-border rounded-s text-uppercase font-900 color-highlight border-blue-dark shadow-l">Settings</a>
</div>
</div>
</div>
<div class="divider mb-4 mx-3 mt-1"></div>
<div class="row mb-0 px-3">
<!-- <div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-1" href="#"><img src="assets/img/pictures/3s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sheet 1</span>
</div>
<div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="assets/img/pictures/5s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sheet 2</span>
</div> -->
<div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-3" href="#"><img src="assets/img/pictures/12s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Events</span>
</div>
<div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-4" href="#"><img src="assets/img/pictures/22s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Courses</span>
</div>
<!-- <div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-5" href="#"><img src="assets/img/pictures/1s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Album Modal 1</span>
</div>
<div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-6" href="#"><img src="assets/img/pictures/4s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Album Modal 2</span>
</div>
<div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-7" href="#"><img src="assets/img/pictures/18s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Album Top 1</span>
</div>
<div class="col-6">
<a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-8" href="#"><img src="assets/img/pictures/19s.jpg" class="rounded-m img-fluid d-block"></a>
<span class="font-700 color-theme font-14 text-center d-block mb-3">Album Top 2</span>
</div> -->
</div>

<div class="divider mb-4 mx-3 mt-1"></div>

<h3 class="mb-n1 font-18 color-highlight font-700 text-uppercase pt-1 text-center">Timeline</h3>
	<br>
<div class="card card-style">
<img src="assets/img/pictures/3w.jpg" class="img-fluid">
<div class="content">
<h4 class="font-19 font-800">Future Proof</h4>
<p class="mt-0 mb-3">
Duo is built using Bootstrap 5 and Vanilla Javascript. It's future proof for your projects.
</p>
<div class="divider mb-3"></div>
<div class="d-flex">
<div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
<div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
<div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
</div>
</div>
</div>

</div>
<!-- <div class="card card-style py-3">
<div class="content px-2 text-center">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase">Time to Go Mobile</h5>
<h2>Get Duo Mobile Today</h2>
<p class="mb-3">
Start your next project with Duo and enjoy the power of a Progressive Web App.
</p>
<a href="https://1.envato.market/2ryjKA" target="_blank" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">Get Duo Now</a>
</div>
</div> -->
</div>


<!-- <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached" id="menu-gallery-1">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">3 x 3 Image Grid</h5>
<h1 class="font-24 font-800 mb-2">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-3 mb-0">
<a class="col" data-gallery="gallery-1" href="assets/img/pictures/7t.jpg" title="Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Portrait</p>
</a>
<a class="col" data-gallery="gallery-1" href="assets/img/pictures/10t.jpg" title="Abstracts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/10s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Abstract</p>
</a>
<a class="col" data-gallery="gallery-1" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Red Leafs</p>
</a>
<a class="col" data-gallery="gallery-1" href="assets/img/pictures/23t.jpg" title="Gamer Girl">
<img src="assets/img/empty.png" data-src="assets/img/pictures/23t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Gamer Girl</p>
</a>
<a class="col" data-gallery="gallery-1" href="assets/img/pictures/14t.jpg" title="Jelly Fish">
<img src="assets/img/empty.png" data-src="assets/img/pictures/14s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Jelly Fish</p>
</a>
<a class="col" data-gallery="gallery-1" href="assets/img/pictures/3t.jpg" title="Ice Cube">
<img src="assets/img/empty.png" data-src="assets/img/pictures/3s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Ice Cube</p>
</a>
</div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-3">Close Album</a>
</div>
</div>

<div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached" id="menu-gallery-2">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">2 x 2 Image Grid</h5>
<h1 class="font-24 font-800 mb-3">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-2 mb-0">
<a class="col" data-gallery="gallery-2" href="assets/img/pictures/7t.jpg" title="Model Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Selfie</p>
</a>
<a class="col" data-gallery="gallery-2" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Nature</p>
</a>
<a class="col" data-gallery="gallery-2" href="assets/img/pictures/2t.jpg" title="Smoke Flow">
<img src="assets/img/empty.png" data-src="assets/img/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Smoke Flow</p>
</a>
<a class="col" data-gallery="gallery-2" href="assets/img/pictures/4t.jpg" title="Color Doughnuts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Color Doughnuts</p>
</a>
</div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-3">Close Album</a>
</div>
</div> -->

<div class="offcanvas offcanvas-start rounded-m offcanvas-detached" style="width:300px" id="menu-gallery-3">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">3 x 3 Image Grid</h5>
<h1 class="font-24 font-800 mb-2">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-3 mb-0">
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/7t.jpg" title="Portrait" *ngFor="let course of courses">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Event name</p>
</a>
<!-- <a class="col" data-gallery="gallery-1a" href="assets/img/pictures/10t.jpg" title="Abstracts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/10s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Abstract</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Red Leafs</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/23t.jpg" title="Gamer Girl">
<img src="assets/img/empty.png" data-src="assets/img/pictures/23t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Gamer Girl</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/14t.jpg" title="Jelly Fish">
<img src="assets/img/empty.png" data-src="assets/img/pictures/14s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Jelly Fish</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/3t.jpg" title="Ice Cube">
<img src="assets/img/empty.png" data-src="assets/img/pictures/3s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Ice Cube</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/7t.jpg" title="Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Portrait</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/10t.jpg" title="Abstracts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/10s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Abstract</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Red Leafs</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/23t.jpg" title="Gamer Girl">
<img src="assets/img/empty.png" data-src="assets/img/pictures/23t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Gamer Girl</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/14t.jpg" title="Jelly Fish">
<img src="assets/img/empty.png" data-src="assets/img/pictures/14s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Jelly Fish</p>
</a>
<a class="col" data-gallery="gallery-1a" href="assets/img/pictures/3t.jpg" title="Ice Cube">
<img src="assets/img/empty.png" data-src="assets/img/pictures/3s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Ice Cube</p>
</a> -->
</div>
<div class="divider mt-3"></div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s">Close Album</a>
</div>
</div>

<div class="offcanvas offcanvas-end rounded-m offcanvas-detached" style="width:300px" id="menu-gallery-4">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">2 x 2 Image Grid</h5>
<h1 class="font-24 font-800 mb-3">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-2 mb-0">
<a class="col" data-gallery="gallery-2a" href="course" title="Model Portrait" *ngFor="let course of courses">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">//Course name</p>
</a>
<!-- <a class="col" data-gallery="gallery-2a" href="course" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Nature</p>
</a>
<a class="col" data-gallery="gallery-2a" href="course" title="Smoke Flow">
<img src="assets/img/empty.png" data-src="assets/img/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Smoke Flow</p>
</a>
<a class="col" data-gallery="gallery-2a" href="course" title="Color Doughnuts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Color Doughnuts</p>
</a>
<a class="col" data-gallery="gallery-2a" href="course" title="Model Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Selfie</p>
</a>
<a class="col" data-gallery="gallery-2a" href="course" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Nature</p>
</a>
<a class="col" data-gallery="gallery-2a" href="course" title="Smoke Flow">
<img src="assets/img/empty.png" data-src="assets/img/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Smoke Flow</p>
</a>
<a class="col" data-gallery="gallery-2a" href="course" title="Color Doughnuts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-2">Color Doughnuts</p>
</a> -->
</div>
<div class="divider mt-3"></div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s">Close Album</a>
</div>
</div>

<!-- <div class="offcanvas offcanvas-modal rounded-m offcanvas-detached" style="width:300px" id="menu-gallery-5">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">3 x 3 Image Grid</h5>
<h1 class="font-24 font-800 mb-2">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-3 mb-0">
<a class="col" data-gallery="gallery-1b" href="assets/img/pictures/7t.jpg" title="Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Portrait</p>
</a>
<a class="col" data-gallery="gallery-1b" href="assets/img/pictures/10t.jpg" title="Abstracts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/10s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Abstract</p>
</a>
<a class="col" data-gallery="gallery-1b" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Red Leafs</p>
</a>
<a class="col" data-gallery="gallery-1b" href="assets/img/pictures/23t.jpg" title="Gamer Girl">
<img src="assets/img/empty.png" data-src="assets/img/pictures/23t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Gamer Girl</p>
</a>
<a class="col" data-gallery="gallery-1b" href="assets/img/pictures/14t.jpg" title="Jelly Fish">
<img src="assets/img/empty.png" data-src="assets/img/pictures/14s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Jelly Fish</p>
</a>
<a class="col" data-gallery="gallery-1b" href="assets/img/pictures/3t.jpg" title="Ice Cube">
<img src="assets/img/empty.png" data-src="assets/img/pictures/3s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Ice Cube</p>
</a>
</div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-4">Close Album</a>
</div>
</div>

<div class="offcanvas offcanvas-modal rounded-m offcanvas-detached" style="width:300px" id="menu-gallery-6">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">2 x 2 Image Grid</h5>
<h1 class="font-24 font-800 mb-3">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-2 mb-0">
<a class="col" data-gallery="gallery-2b" href="assets/img/pictures/7t.jpg" title="Model Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Selfie</p>
</a>
<a class="col" data-gallery="gallery-2b" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Nature</p>
</a>
<a class="col" data-gallery="gallery-2b" href="assets/img/pictures/2t.jpg" title="Smoke Flow">
<img src="assets/img/empty.png" data-src="assets/img/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Smoke Flow</p>
</a>
<a class="col" data-gallery="gallery-2b" href="assets/img/pictures/4t.jpg" title="Color Doughnuts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Color Doughnuts</p>
</a>
</div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-4">Close Album</a>
</div>
</div>

<div class="offcanvas offcanvas-top rounded-m offcanvas-detached" style="height:480px" id="menu-gallery-7">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">3 x 3 Image Grid</h5>
<h1 class="font-24 font-800 mb-2">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-3 mb-0">
<a class="col" data-gallery="gallery-1bc" href="assets/img/pictures/7t.jpg" title="Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Portrait</p>
</a>
<a class="col" data-gallery="gallery-1bc" href="assets/img/pictures/10t.jpg" title="Abstracts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/10s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Abstract</p>
</a>
<a class="col" data-gallery="gallery-1bc" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Red Leafs</p>
</a>
<a class="col" data-gallery="gallery-1bc" href="assets/img/pictures/23t.jpg" title="Gamer Girl">
<img src="assets/img/empty.png" data-src="assets/img/pictures/23t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Gamer Girl</p>
</a>
<a class="col" data-gallery="gallery-1bc" href="assets/img/pictures/14t.jpg" title="Jelly Fish">
<img src="assets/img/empty.png" data-src="assets/img/pictures/14s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Jelly Fish</p>
</a>
<a class="col" data-gallery="gallery-1bc" href="assets/img/pictures/3t.jpg" title="Ice Cube">
<img src="assets/img/empty.png" data-src="assets/img/pictures/3s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Ice Cube</p>
</a>
</div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-4">Close Album</a>
</div>
</div>

<div class="offcanvas offcanvas-top rounded-m offcanvas-detached" style="height:600px" id="menu-gallery-8">
<div class="content mb-0">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">2 x 2 Image Grid</h5>
<h1 class="font-24 font-800 mb-3">Album Thumbs</h1>
<p>
Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
</p>
<div class="row text-center row-cols-2 mb-0">
<a class="col" data-gallery="gallery-2bd" href="assets/img/pictures/7t.jpg" title="Model Portrait">
<img src="assets/img/empty.png" data-src="assets/img/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Selfie</p>
</a>
<a class="col" data-gallery="gallery-2bd" href="assets/img/pictures/11t.jpg" title="Red Leafs">
<img src="assets/img/empty.png" data-src="assets/img/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Nature</p>
</a>
<a class="col" data-gallery="gallery-2bd" href="assets/img/pictures/2t.jpg" title="Smoke Flow">
<img src="assets/img/empty.png" data-src="assets/img/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Smoke Flow</p>
</a>
<a class="col" data-gallery="gallery-2bd" href="assets/img/pictures/4t.jpg" title="Color Doughnuts">
<img src="assets/img/empty.png" data-src="assets/img/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
<p class="font-600 color-theme font-12 pb-3">Color Doughnuts</p>
</a>
</div>
<a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-4">Close Album</a>
</div>
</div> -->